# Local .terraform directories and files
.terraform/providers
src/.terraform
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.src
personal.auto.tfvars
./variables.tf
